body {
	font-family: 'Lato', sans-serif;
	color: #404040;
	margin: 0;
	padding: 0;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.section-header {
	max-width: 502px;
	margin: auto;
	margin-top: 65px;
	margin-bottom: 40px;
	text-align: center;
	border-bottom: 1px solid #E9E9E9;
	.section-text {
		margin: 0;
		font-size: 24px;
		letter-spacing: 1.8px;
		font-weight: 400;
		margin-bottom: 10px;
	}
}

::-webkit-scrollbar { 
    display: none; 
}

a {
	text-decoration: none;
}

.cta {
	margin: auto;
    width: 115px;
    display: block;
    text-align: center;
    color: #404040;
    padding: 20px;
    margin-top: 50px;
    font-size: 21px;
    font-weight: 100;
    letter-spacing: 1px;
    transition: all 0.1s ease-in-out;
    border: 1px #404040 solid;
}

.cta:hover {
	background-color: #404040;
    color: white;
}

.project-overlay {
	visibility: hidden;
	opacity: 0;
	background-color: rgba(256,256,256, 0.99);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;
	transition:visibility 0s linear,opacity 0.2s linear;
	overflow: hidden;

	.close-overlay {
	    position: absolute;
	    height: 25px;
	    width: 25px;
	    background-color: rgba(256,256,256,0.7);
	    background-image: url('images/close.png');
	    background-size: contain;
	    top: 70px;
	    right: 20px;
	    z-index: 1;
	}

	.close-overlay:hover {
		cursor: pointer;
	}

	.back-to-top {
		z-index: 100;
		position: absolute;
		bottom: 15px;
		right: 15px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #404040;
	}
	
	.back-to-top:hover {
		cursor: pointer;
	}

	.project-header-image {
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
        margin-top: 115px;
        margin-bottom: 50px;
	}
	
	.project-frame-container {
		height: 100%;
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
		overflow: scroll;

		.project-frame {
		border: solid 2px #404040;
		position: relative;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 100px;

			.project-text-container {
			    height: 114px;
			    position: absolute;
			    bottom: 10px;
			    right: 10px;
			    left: 10px;
			    background-color: rgba(0, 0, 0, 0.9);
			    color: white;
			    padding-left: 15px;
			    padding-left: 15px;
			    letter-spacing: 0.5px;
			    font-weight: 100;
			}
		}
	}

	.project-frame-active {
		height: 42vh;
		display: block;
		background-image: url('ph.jpg')
	}
}

.project-frame:last-child {
	margin-bottom: 200px;
}

.project-overlay-active {
	visibility: visible;
	opacity: 1;
}


#nav {
	width: 100%;
	position: fixed;
	background-color: white;
	z-index: 25;
    .nav-content-wrapper {
    	max-width: 1024px;
	    margin: auto;
	    height: 50px;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
    }
	.nav-header {
		font-size: 20px;
		margin-left: 20px;
		font-weight: 700;
		color: #404040;
		display: inline-block;
		letter-spacing: 5px;
		.last-name {
			font-weight: 100;
		}
	}
	.nav-header:hover { cursor: pointer; }
	
	.close-overlay-nav-button {
		font-weight: 100;
		font-size: 20px;
		letter-spacing: 1px;
	    margin-left: -22px;
	    transform: translate(0px, -100px);
	    transition: all 0.4s cubic-bezier(0.42, 0, 0.46, 1.38);
	}
	
	.close-overlay-nav-button-active {
		transform: translate(0px, 0px) 
	}

	.close-overlay-nav-button:hover { cursor: pointer }

	#nav-icon-list {
		list-style-type: none;
		display: inline-flex;
		margin-right: 20px;
		float: right;

		.nav-icon {
			background-size: contain;
			height: 23px;
			width: 23px;
			margin-left: 25px;
			transition: all 0.1s ease-in-out;
		}
		.nav-icon:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
	}
}

#hero {
	height: 500px;
	width: 100%;
	margin-top: 50px;
	display: inline-flex;
	color: white;
	font-weight: 300;
	background: url('images/bg.png');
    background-size: cover;
    background-position-y: -135px;
	
	.hero-inlay {
		max-width: 646px;
		min-width: 320px;
		height: 352px;
		background-color: rgba(0, 0, 0, .75);
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		.hero-portrait {
			margin-top: 36px;
			height: 126px;
			width: 126px;
			border-radius: 63px;
			background: url('images/portrait.png');
			background-size: cover;
			display: inline-block;
		}
		.hero-header {
			margin: auto;
			letter-spacing: 1.7px;
		}
		.hero-text {
			max-width: 548px;
			font-size: 18px;
			text-align: center;
			margin: 0;
			margin-bottom: 35px;
			margin-left: 50px;
			margin-right: 50px;
			letter-spacing: 1px;
		}
	}
}

#experience-section {
	display:flex;
	flex-wrap: wrap;
	max-width: 1024px;
	margin: auto;
	justify-content: center;

	.project-tile {
		width: 482px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		background-position-x: center;
	    background-position-y: 20px;
	    background-repeat: no-repeat;
	}

	.project-tile:hover {
		cursor: pointer;
	}

	.project-label {
		height: 44px;
		background-color: #404040;
		margin-top: 155px;
		display: flex;
		align-items: center;
		justify-content: center;
		h3 {
			margin: 0;
			color: white;
			font-weight: 100;
			text-align: center;
			vertical-align: middle;
		}
	}
}

.skills-section {
	max-width: 1024px;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


.skill-icon {
	height: 50px;
	width: 50px;
	margin-left: 12px;
	margin-right: 12px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.skill-icon:hover{
	cursor: pointer;
}
.tool-tip {
	height: 26px;
	position: absolute;
	background-color: #404040;
	color: white;
	z-index: 10;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 5px;
    margin-top: -40px;
    display: table;
}


#design-by {
	size: 10px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 10px;
	color: #9E9E9E;
	width: 187px;
	font-weight:100;
}

.sketch {
	background-image: url('images/sketch.png')
}
.ps {
	background-image: url('images/ps.png')
}
.ae {
	background-image: url('images/ae.png')
}
.flinto {
	background-image: url('images/flinto.png')
}
.html {
	background-image: url('images/html.png')
}
.scss {
	background-image: url('images/scss.png')
}
.js {
	background-image: url('images/js.png')
}
.ruby {
	background-image: url('images/ruby.png')
}
.rails {
	background-image: url('images/rails.png')
}


.imvu-project {
	background: url('images/imvu.png')
}
.ccd-project {
	background: url('images/ccd.png')
}
.mb-project {
	background: url('images/mb.png')
}
.to-project {
	background: url('images/tipdoff.png')
}
.email {
	background: url('images/email.png');
}
.github {
	background: url('images/github.png');
}
.linked-in {
	background: url('images/linked-in.png');
}
.sc {
	background: url('images/sc.png');
}